<div class="social-links">
    <a href="<%= SocialLinks.Facebook %>"><i class="fab fa-facebook-f"></i></a>
       <a href="<%= SocialLinks.WhatsApp %>"><i class="fab fa-whatsapp"></i></a>
</div>
<p>&copy; <%= new Date().getFullYear();%> <strong>ProEcu</strong> - All Rights Reserved</p>
<p>Developed by: <a class="copy-link" href="<%= SocialLinks.Copyright %>">Marbust Websites®</a></p>
