<a href="/" class="header-link"><img src="/img/header/logo.png" alt="Altura LOGO"></a>
<nav>
    <ul>
        <i class="fas fa-times" id="close-btn"></i>
        <li><a href="/">Inicio</a></li>
        <li><a href="/#about">Somos</a></a></li>
        <li><a href="/#products">Productos</a></li>
        <li><a href="/#contact">Contacto</a></li>
    </ul>
</nav>
<i class="fas fa-bars" id="menu-btn"></i>