<div class="home-banner flex-s-a flex-vc">
    <div class="banner-content box-7 box-i-8 box-m-10 box-p-12">
        <p></p>
        <p class="title fs100px fs-i-80px fs-m-60px fs-p-40px">Page not Found!</p>
        <div class="links-btns">
            <a href="/">Home</a>
        </div>
    </div>
</div>